[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An attempt to decode barcode image with libdmtx and camera
[access "refs/*"]
	owner = group user/Frank Liu (keke8273)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Frank Liu (keke8273)
	label-Verified = -1..+1 group user/Frank Liu (keke8273)
	push = group user/Frank Liu (keke8273)
	read = group user/Frank Liu (keke8273)
	rebase = group user/Frank Liu (keke8273)
	removeReviewer = group user/Frank Liu (keke8273)
	submit = group user/Frank Liu (keke8273)
[access "refs/heads/*"]
	create = group user/Frank Liu (keke8273)
	push = +force group user/Frank Liu (keke8273)
	pushMerge = group user/Frank Liu (keke8273)
	read = group user/Frank Liu (keke8273)
[access "refs/tags/*"]
	push = group user/Frank Liu (keke8273)
	push = +force group user/Frank Liu (keke8273)
